*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'FS Albert Arabic Web Regular' ;
}


.container{
    direction: ltr;
    text-align: left;
}
